{% extends 'base.html' %}
{% load static %}
{% block title %}
The Robonauts - Blogs | {{blog.meta_title}}
{% endblock %}
{% block metatitle %}
{{blog.meta_title}}
{% endblock %}
{% block metadescription %}
{{blog.meta_description}}
{% endblock %}
{% block metakeywords %}
{{blog.meta_keyword}}
{% endblock %}
{% block css %}
<style>
    body{
        background-color:#f1f3fa;
    }
    .fix{
        background-color: white;
    }
    #thumb{
        position: relative;
        z-index: -100 !important;
    }
    .myimg{
        background-image: url('{{blog.thumbnail_image.url}}');
        background-position: center;
        background-size: cover;
        height: 50vh;
        background-repeat: no-repeat;
    }
    #mymtn{
        background-color: rgb(255, 255, 255);
        z-index: 1 !important;
    }
    .nnn{
        margin-top: -100px;
    }
    .nnn2{
        margin-top: -70px;
    }
</style>
{% endblock %}
{% block body %}
<!--Section blog Design-->
<div class="text-center" id="thumb">
    <div class="container img-fluid w-100 myimg"></div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-3">
        <div class="col-0 col-sm-2"></div>
        <div class="col-12 col-sm-8 shadow-sm rounded-lg nnn container" id="mymtn">
            <div class="container mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'index' %}" class="link">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'blogs_list' %}" class="link">Blogs</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{blog.title}}</li>
                    </ol>
                </nav>
    
                <h1 class="text-left">{{blog.title}}</h1>
                <p class="text-secondary py-2">{{blog.date}}</p>
                <hr>
                {{blog.content | safe}}
            </div>
        </div>
        <div class="col-0 col-sm-2"></div>
    </div>
</div>
<!--Section blog design end-->
<div class="container padtop mt-5 bg-white">
    <h2 class="text-center p-2 text-dark"><strong>Related Blogs</strong></h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for blogg in blogs %}
      <div class="col p-3 p-md-4 mb-1 mb-sm-5">
        <a href="{% url 'blog_single' blogg.slug %}" class="card shadow" id="mycard">
            <img src="{{blogg.thumbnail_image.url}}" alt="image" class="img-fluid rounded-top">
            <h3 class="over-text">
                {{blogg.title}}
            </h3>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <!--Section blog design end-->

{% endblock %}