{% extends 'base.html' %}
{% load static %}
{% block title %}
The Robonauts - Blogs and Articles
{% endblock %}
{% block metatitle %}
The Robonauts - Blogs and Articles
{% endblock %}
{% block metadescription %}
We try to give a detail overview over various Robotics and Automation Projects and components to help you understand these topics better.
{% endblock %}
{% block metakeywords %}
robonauts,nepal,the robonauts,blogs on robotics nepal,nepali robots
{% endblock %}
{% block css %}
<style>
    body{
        background-color:#f1f3fa;
    }
    .fix{
        background-color: white;
    }
    #thumb{
        position: relative;
        z-index: -100 !important;
    }
    .myimg{
        background-image: url('{{blog.thumbnail_image.url}}');
        background-position: center;
        background-size: cover;
        height: 50vh;
        background-repeat: no-repeat;
    }
    #mymtn{
        background-color: rgb(255, 255, 255);
        z-index: 1 !important;
    }
    .nnn{
        margin-top: -100px;
    }
    .nnn2{
        margin-top: -70px;
    }
</style>
{% endblock %}
{% block body %}
<!--Section blog Design-->
<div class="text-center" id="thumb">
    <div class="container img-fluid w-100 myimg"></div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-3">
        <div class="col-0 col-sm-2"></div>
        <div class="col-12 col-sm-8 shadow-sm rounded-lg nnn container" id="mymtn">
            <div class="container mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'index' %}" class="link">Home</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'blogs_list' %}" class="link">Blogs</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{blog.title}}</li>
                    </ol>
                </nav>
    
                <h1 class="text-left">{{blog.title}}</h1>
                <p class="text-secondary py-2">{{blog.date}}</p>
                <hr>
                {{blog.content | safe}}
            </div>
        </div>
        <div class="col-0 col-sm-2"></div>
    </div>
</div>
<!--Section blog design end-->
<div class="container padtop mt-5 bg-white">
    <h2 class="text-center p-2">Related Blogs</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 padd">
      {% for blog in blogs %}
      <div class="col p-3 p-md-4 mb-1 mb-sm-5">
        <div class="card shadow">
            <img src="{% static 'images/blogthumb.jpg' %}" alt="image" class="img-fluid rounded-top">
          <div class="card-body">
              <p class="text-secondary">{{blog.date}}</p>
            <a href="#" class="video_title mt-2 mybloglink">{{blog.title}}</a>
            <p class="blogdetail mt-2">
                {{blog.content | safe |truncatewords:20}}
            </p>
            <a href="{% url 'blog_single' blog.slug %}" class="btn btn-success no-border">Read more »</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!--Section blog design end-->

{% endblock %}