{% extends 'base.html' %}
{% load static %}
{% block title %}
The Robonauts - Robotics and Automation Company in Nepal
{% endblock %}
{% block metatitle %}
The Robonauts - Robotics and Automation Company in Nepal
{% endblock %}
{% block metadescription %}
The Robonauts is a Robotics company in nepal which is developing various Application based Robots and Automated services
to develop the nation.
{% endblock %}
{% block metakeywords %}
robonauts,nepal,the robonauts,robotics training nepal
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/glider.min.css' %}">
<style>
    .main {
        background: url("{% static 'images/maskk.svg' %}");
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block mine %}
<div class="container my-5 my-sm-5 py-5">
    <div class="row pt-0 mt-0">
        <div class="col-md-6 abcd hid">
            <img src="{% static 'images/her.png' %}" alt="img" class="img-fluid py-5">
        </div>
        <div class="col-md-6 smal parent">
            <div class="child">
                <h1 class="title">The <span class="bordbot1">Robonauts
                </h1>
                <p class="font-weight-bold py-2 text-dark">
                    Let's promote robotics togther
                </p>
                <p class="inside_title justifyy">
                    The Robonauts is a Robotics Team specially focused in robotics battle with enthusiasm in technology
                    and research to bring the revolution in the field of Robotics in Nepal.
                </p>

                <a href="#" class="btn btn-md mybtn2 mt-4 no-border">Contact us
                    <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-arrow-right-short mys"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                </a>
                <button class="btn btn-md mt-4 ml-4 gradient-text" data-toggle="modal" data-target="#exampleModal"
                    id="videoopen">
                    <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                    </svg>
                    <span class="py-1">
                        Watch
                    </span>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">The Robonauts - Intro Video</h5>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                                    id="videoclose">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="modal-body">
                                <video autoplay muted class="img-fluid videostyle" id="myvidd">
                                    <source src="{% static 'images/myintro.mp4' %}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 abcd efd">
            <img src="{% static 'images/her.png' %}" alt="img" class="img-fluid py-5">
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<!-- <circle class="light-green align-left mycircle"></circle> -->

<!--Section our work start-->
<div class="container">
    <div class="myback">
        <div class="row row-cols-1">
            <h3 class="text-center gradient-text bolder p-1"><span class="bordbot">About</span> <span
                    class="strok">the</span>
                <span class="bordbot">Robonauts</span></h3>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 mt-md-2">
            <div class="col p-4 p-md-5">
                <img src="{% static 'images/first_global.jpg' %}" alt="heroo" class="img-fluid">
            </div>
            <div class="col px-3 px-sm-5">
                <div class="mt-0 pt-3 pt-sm-0 px-3 mt-lg-0 pt-lg-5">
                    <h2 class="title2">Who <span class="gradient-text bordbot">are</span> we
                    </h2>
                    <br>
                    <p class="inside_title2 justifyy">
                        The Robonauts is a Robotics Team specially
                        focused in robotics battle with enthusiasm
                        in technology and research to bring the
                        revolution in the field of Robotics in Nepal.
                        Since 2017, we have been engaged in robotics game
                        and have grown better by team effort and hard work.
                        We are able to experience the robotics in international
                        level too during our journey.
                    </p>
                    <button class="btn btn-md mt-2 no-border mybtn3">2017 - Present
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section our work end-->



<!--Achivements section start-->
<div class="backk">
    <div class="container">
        <div class="carousel_part">
            <div class="row row-cols-1 mb-5 pb-1 pb-sm-3">
                <h3 class="text-center mytitle bolder"><span>What we have</span> <span
                        class="gradient-text bordbot2">achived</span> <span>so far</span></h3>
                <p class="justifyy p-m text-center">We have been continously learing and achiving new goals</p>
            </div>
            <div class="row">
                <div class="glider-contain">
                    <div class="glider">
                        <div class="p-2 text-center">
                            <img src="{% static 'images/iitbombay.jpg' %}" alt="robonauts in iit techfest bombay"
                                class="img-fluid">
                            <!-- <span class="badge rounded-pill bg-mine">Robowars IIT Bombay 2018</span> -->
                        </div>
                        <div class="p-2 text-center">
                            <img src="{% static 'images/thapathali.jpg' %}" alt="robonauts in thapathali robowars"
                                class="img-fluid">
                        </div>
                        <div class="p-2 text-center">
                            <img src="{% static 'images/thapathali2.jpg' %}" alt="robonauts in robowars nepal"
                                class="img-fluid">
                        </div>
                        <div class="p-2 text-center">
                            <img src="{% static 'images/first_global.jpg' %}" alt="robonauts in first global challange"
                                class="img-fluid">
                        </div>
                    </div>
                    <button aria-label="Previous" class="glider-prev px-2">«</button>
                    <button aria-label="Next" class="glider-next px-2">»</button>
                    <div role="tablist" class="dots"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Achivements section end-->
<!--Section Training Packages Start-->
<!-- <div class="container">
    <div class="contact_part">
        <div class="row mb-5 pb-1 pb-sm-3">
            <h6 class="text-center mytitle">Robotics Trainings and Workshops</h6>
            <p class="justifyy p-m text-center">The Robonauts provides various types of long and short term
                Trainings & Workshops in Nepal.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col anim">
                <div class="card mb-3 p-1 p-sm-3">
                    <div class="shadow-sm">
                        <div class="card-header bg-minee fon">Weekly training</div>
                        <div class="card-body">
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Arduino basics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Motors basics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Electronics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <a href="#" class="btn mybtn2">Learn more »</a>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col anim">
                <div class="card mb-3 p-1 p-sm-3">
                    <div class="shadow-sm">
                        <div class="card-header bg-minee fon">Monthly training</div>
                        <div class="card-body">
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Arduino basics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Motors basics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Electronics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <a href="#" class="btn mybtn2">Learn more »</a>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col anim">
                <div class="card mb-3 p-1 p-sm-3">
                    <div class="shadow-sm">
                        <div class="card-header bg-minee fon">Yearly training</div>
                        <div class="card-body">
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Arduino basics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Motors basics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-check-circle-fill" fill="green"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                            Electronics
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 p-2">
                                <div class="col">
                                    <div class="row row-cols-1 row-cols-sm-3">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <a href="#" class="btn mybtn2">Learn more »</a>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--Section Training Packages End-->
<!--Package section second part start-->
<div class="package-section py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2">
            <div class="col my-5 text-center">
                <img src="{% static 'images/training.png' %}" alt="">
            </div>
            <div class="col mytit">
                <div>
                    <h2 class="justifyy fon smaller">For flexible and customized <span class="gradient-text">Robotics
                            and Automation Trainings</span> for your institution/college please feel free to contact
                        us</h2>
                    <a href="#" class="btn mybtn2 mt-2">Make a customized plan »</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Package section second part end-->
<!--Section team start-->
<div class="container pt-5">
    <div class="myback2">
        <div class="row row-cols-1">
            <h3 class="text-center mytitle bolder"><span>Meet our</span> <span
                    class="gradient-text bordbot2">amazing</span> <span>Team</span></h3>
            <p class="justifyy p-m text-center">We belive in Quality and Trust</p>
        </div>
        <div class="row p-3 p-md-5">
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/sajin_shrestha.jpg' %}" class="img-fluid"
                            alt="avatar of sajin shresth">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/sajinshresthaa" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Sajin Shrestha</h3>
                            <span class="post">Programmer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/bibek_shah.jpg' %}" class="img-fluid" alt="avatar of bibek sah">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/bibek.soni.5" target="_blank"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Bibek Sah</h3>
                            <span class="post">Software Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/shishir_sunchauri.jpg' %}" class="img-fluid"
                            alt="avatar of shishir sunchauri">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/ShishirSunchauri" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Shishir Sunchauri</h3>
                            <span class="post">Business Analyst</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/anil_singh.jpg' %}" class="img-fluid" alt="avatar of anil singh">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/sanil5312" target="_blank"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/anil-singh-22806716a/" target="_blank"><i
                                        class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Anil Singh</h3>
                            <span class="post">Management</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/udbhav_ghimire.jpg' %}" class="img-fluid"
                            alt="avatar of udbhav ghimire">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/udbhav.ghimire" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/udbhav-ghimire-a916bb1b7/" target="_blank"><i
                                        class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Udbhav Ghimire</h3>
                            <span class="post">Lecturer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/prithivi.jpg' %}" class="img-fluid"
                            alt="avatar of prithivi chaudhary">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/prithvi.chaudhary.9081" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Prithvi Chaudhary</h3>
                            <span class="post">Hardware Expert</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/rukesh.jpg' %}" class="img-fluid"
                            alt="avatar of rukesh rajbhandari">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/rukesh.rajbhandari.3" target="_blank"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Rukesh R Bhandari</h3>
                            <span class="post">Analyst/Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/avishkar.jpg' %}" class="img-fluid"
                            alt="avatar of avishkar kshetri">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/p.aabiskar" target="_blank"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/aabiskar58/" target="_blank"><i
                                        class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Avishkar Kshetri</h3>
                            <span class="post">Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4 d-none d-md-block"></div>
            <div class="col-6 col-md-3 col-sm-6 p-1 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/hritik_joshi.jpg' %}" class="img-fluid"
                            alt="avatar of hritik joshi">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/shac.jaishi" target="_blank"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            <li><a href="https://np.linkedin.com/in/hritik-joshi-2259a91b0" target="_blank"><i
                                        class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Hritik Joshi</h3>
                            <span class="post">Drones Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-2 p-sm-3 p-md-4">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'images/vishal_dhakal.jpg' %}" class="img-fluid"
                            alt="avatar of vishal dhakal">
                        <ul class="social">
                            <li><a href="https://dhakalvishal.com.np/" target="_balnk"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li><a
                                    href="https://np.linkedin.com/in/vishal-dhakal-1764781a7?challengeId=AQEZsmo_kD5BEAAAAXS1qYqmV--qOuTNilI3HgNvLqTcHEtxZSY84o4zN4sUVRa89PBQA0gyzHxik4sajJ-RiPyRVTvxPPt-IA&submissionId=01869436-f218-3716-0711-814583f45f31"><i
                                        class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3 class="title">Vishal Dhakal</h3>
                            <span class="post">Full Stack Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 p-1 p-sm-3 p-md-4 d-none d-md-block"></div>
        </div>
    </div>
</div>
<!--Section team end-->


<!--Contact section start-->
<div class="container">
    <div class="contact_part">
        <div class="row">
            <div class="col text-center px-5"><img src="{%static 'images/contactt.png' %}" alt="Contact image vector"
                    class="img-fluid">
            </div>
            <h6 class="text-center mytitle">Let's get in touch !</h6>
            <h6 class="text-center">The Robonauts - </span><span><a
                        href="mailto:teamrobonauts.np@gmail.com">teamrobonauts.np@gmail.com</a></h6>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="{% url 'send_mails' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="from" value="index_page">
                    <div class="row">
                        <div class="mb-3">
                            <input type="text" placeholder="Full Name" name="name" class="fields" id="name">
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2">
                        <div class="col">
                            <div class="mb-3">
                                <input type="email" aria-describedby="emailHelp" placeholder="Your email" name="email"
                                    class="fields">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <input type="text" name="phone" placeholder="Phone" name="phone" class="fields">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <input type="text" name="message" id="message" placeholder="Enter your message/query"
                                class="fields mess">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center"><button type="submit" class="btn btn-primary sendbtn">Send
                                Now</button></div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<!--Contact section End-->
{% endblock %}

{% block js %}
<script src="{% static 'js/glider.min.js' %}"></script>
<script src="{% static 'js/glider.js' %}"></script>
{% endblock %}