{% extends 'base.html' %}
{% load static %}
{% block title %}
The Robonauts - Buy Robotics and Mechanical Products
{% endblock %}
{% block metatitle %}
The Robonauts - Buy Robotics and Mechanical Products
{% endblock %}
{% block metadescription %}
The Robonauts has been producing and various products and components in Nepal.
to develop the nation.
{% endblock %}
{% block metakeywords %}
the robonauts,robotics components nepal,electronics component
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}
{% block body %}

<!--Section products Design-->
<div class="container mt-3">
    <div class="row py-4">
        <div class="col-lg-4 col-sm-12 col-xs-12 py-4">
            <!-- all departments -->
            <div class="vertical-menu">
                <a href="#" class="active p-4">All Departments</a>
                <a href="#" class="px-4">Robotics</a>
                <a href="#" class="px-4">Drones</a>
                <a href="#" class="px-4">Electronics</a>
                <a href="#" class="px-4">Mechanical</a>
                <a href="#" class="px-4">Softwares</a>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 col-xs-12 py-4">
            <div class="row-cols-1">
                <div class="wrap">
                    <div class="search">
                        <div class="dropdown">
                            <button class="no-border dropp btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                        <button type="submit" class="searchButton">
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="c">
                <!-- sister robot banner -->
                <img src="{% static 'images/sister.png' %}" class="img-fluid pt-4" alt="image">
                <!-- shop now -->
                <button class="btn shop-now text-light" type="submit" style="background-color: #7cc23a;"><b>Shop
                        now</b></button>
            </div>
        </div>
    </div>
</div>

<!-- carousel slider start -->
<div class="container pt-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="image">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
<!-- caroudel slider end -->

<!-- featured product -->
<div class="text-center p-5">
    <h1><b>Featured Product</b></h1>
    <hr class="line"><br>

    <!-- hover navbar start -->
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav m-auto" style="font-family: sans-serif;">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">ALL
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product 4</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- hover navbar end -->


    <!-- product with price -->
    <div class="container">
        <div class="row p-3">
            <div class="col-lg-4 col-sm-6 col-xs-12 pt-3">
                <div class="col text-center">
                    <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                    <h4 class="text-center p-1">Robot</h4>
                    <h5 class="text-center p-1"><b>$100</b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 pt-3">
                <div class="col text-center">
                    <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                    <h4 class="text-center p-1">Robot</h4>
                    <h5 class="text-center p-1"><b>$100</b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 pt-3">
                <div class="col text-center">
                    <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                    <h4 class="text-center p-1">Robot</h4>
                    <h5 class="text-center p-1"><b>$100</b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 pt-3">
                <div class="col text-center">
                    <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                    <h4 class="text-center p-1">Robot</h4>
                    <h5 class="text-center p-1"><b>$100</b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 pt-3">
                <div class="col text-center">
                    <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                    <h4 class="text-center p-1">Robot</h4>
                    <h5 class="text-center p-1"><b>$100</b></h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 pt-3">
                <div class="col text-center">
                    <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                    <h4 class="text-center p-1">Robot</h4>
                    <h5 class="text-center p-1"><b>$100</b></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- product with price end -->

    <!-- latest product card  -->
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <h3 class="pb-3"><b>Latest Products</b></h3>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Top rated product card -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <h3 class="pb-3"><b>Top Rated Products</b></h3>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- review product card -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <h3 class="pb-3"><b>Review Products</b></h3>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                        <div class="col-md-6 p-3">
                            <img src="{% static 'images/robot.jpg' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Robot</h5>
                                <h6><b>$100</b></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section products design end-->
{% endblock %}