{% extends 'base.html' %}
{% load static %}
{% block title %}
The Robonauts - Buy Robotics and Mechanical Products
{% endblock %}
{% block metatitle %}
The Robonauts - Buy Robotics and Mechanical Products
{% endblock %}
{% block metadescription %}
The Robonauts has been producing and various products and components in Nepal.
to develop the nation.
{% endblock %}
{% block metakeywords %}
the robonauts,robotics components nepal,electronics component
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}
{% block body %}

<!--Section products Design-->
<div class="container mt-3">
    <div class="row py-4">
        <div class="col-lg-4 col-sm-12 col-xs-12 py-4">
            <!-- all departments -->
            <div class="vertical-menu">
                <a href="#" class="active p-4">All Departments</a>
                <a href="#" class="px-4">Robotics</a>
                <a href="#" class="px-4">Drones</a>
                <a href="#" class="px-4">Electronics</a>
                <a href="#" class="px-4">Mechanical</a>
                <a href="#" class="px-4">Softwares</a>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 col-xs-12 py-4">
            <div class="row-cols-1">
                <div class="wrap">
                    <div class="search">
                        <div class="dropdown">
                            <button class="no-border dropp btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                        <button type="submit" class="searchButton">
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="c">
                <!-- sister robot banner -->
                <img src="{% static 'images/sister.png' %}" class="img-fluid pt-4" alt="image">
                <!-- shop now -->
                <button class="btn shop-now text-light" type="submit" style="background-color: #7cc23a;"><b>Shop
                        now</b></button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 py-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col my-4">
          <div class="card shadow-sm">
            <img src="{% static 'images/robot.jpg' %}" class="card-img-top" alt="product">
            <div class="card-body text-center">
                <span class="badge bg-light text-dark mr-auto">Rs 1200</span>
              <h5 class="card-title">L Clamp</h5>
              <p class="card-text">
                <a href="#" class="btn btn-know">
                  Know More
                </a>
                <a href="#" class="btn btn-buy">Buy now</a>
            </p>
            </div>
          </div>
        </div>
        <div class="col my-4">
            <div class="card shadow-sm">
              <img src="{% static 'images/robot.jpg' %}" class="card-img-top" alt="product">
              <div class="card-body text-center">
                  <span class="badge bg-light text-dark mr-auto">Rs 1200</span>
                <h5 class="card-title">L Clamp</h5>
                <p class="card-text">
                  <a href="#" class="btn btn-know">
                    Know More
                  </a>
                  <a href="#" class="btn btn-buy">Buy now</a>
              </p>
              </div>
            </div>
          </div>
          <div class="col my-4">
            <div class="card shadow-sm">
              <img src="{% static 'images/robot.jpg' %}" class="card-img-top" alt="product">
              <div class="card-body text-center">
                  <span class="badge bg-light text-dark mr-auto">Rs 1200</span>
                <h5 class="card-title">L Clamp</h5>
                <p class="card-text">
                  <a href="#" class="btn btn-know">
                    Know More
                  </a>
                  <a href="#" class="btn btn-buy">Buy now</a>
              </p>
              </div>
            </div>
          </div>
          <div class="col my-4">
            <div class="card shadow-sm">
              <img src="{% static 'images/robot.jpg' %}" class="card-img-top" alt="product">
              <div class="card-body text-center">
                  <span class="badge bg-light text-dark mr-auto">Rs 1200</span>
                <h5 class="card-title">L Clamp</h5>
                <p class="card-text">
                  <a href="#" class="btn btn-know">
                    Know More
                  </a>
                  <a href="#" class="btn btn-buy">Buy now</a>
              </p>
              </div>
            </div>
          </div>
          <div class="col my-4">
            <div class="card shadow-sm">
              <img src="{% static 'images/robot.jpg' %}" class="card-img-top" alt="product">
              <div class="card-body text-center">
                  <span class="badge bg-light text-dark mr-auto">Rs 1200</span>
                <h5 class="card-title">L Clamp</h5>
                <p class="card-text">
                  <a href="#" class="btn btn-know">
                    Know More
                  </a>
                  <a href="#" class="btn btn-buy">Buy now</a>
              </p>
              </div>
            </div>
          </div>
          <div class="col my-4">
            <div class="card shadow-sm">
              <img src="{% static 'images/robot.jpg' %}" class="card-img-top" alt="product">
              <div class="card-body text-center">
                  <span class="badge bg-light text-dark mr-auto">Rs 1200</span>
                <h5 class="card-title">L Clamp</h5>
                <p class="card-text">
                  <a href="#" class="btn btn-know">
                    Know More
                  </a>
                  <a href="#" class="btn btn-buy">Buy now</a>
              </p>
              </div>
            </div>
          </div>
          <div class="col my-4">
            <div class="card shadow-sm">
              <img src="{% static 'images/robot.jpg' %}" class="card-img-top" alt="product">
              <div class="card-body text-center">
                  <span class="badge bg-light text-dark mr-auto">Rs 1200</span>
                <h5 class="card-title">L Clamp</h5>
                <p class="card-text">
                  <a href="#" class="btn btn-know">
                    Know More
                  </a>
                  <a href="#" class="btn btn-buy">Buy now</a>
              </p>
              </div>
            </div>
          </div>
          <div class="col my-4">
            <div class="card shadow-sm">
              <img src="{% static 'images/robot.jpg' %}" class="card-img-top" alt="product">
              <div class="card-body text-center">
                  <span class="badge bg-light text-dark mr-auto">Rs 1200</span>
                <h5 class="card-title">L Clamp</h5>
                <p class="card-text">
                  <a href="#" class="btn btn-know">
                    Know More
                  </a>
                  <a href="#" class="btn btn-buy">Buy now</a>
              </p>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}
